body {
	background-color:silver;	
}

div.container {
	width:980px;
	margin:0 auto;	
}

div.container div.slideshow a {
	position:absolute;
	left:0px;
	top:1000px;
	display:block;
	border:2px solid white;
	border-radius:5px;
}

div.container div.slideshow a:hover {
	opacity:0.7;
	z-index:2;	
}

div.container div.slideshow a img {
	width:100px;
	height:60px;
	display:block;	
}